@use "../abstracts/variables" as *; 

// :root {
//     --primary: #{$primary};
//     --primaryDark: #{$primaryDark};
//     --primaryDarker: #{$primaryDarker};
//     --secondary: #{$secondary};
//     --highlight: #{$highlight};

//     --dark: #{$dark};
//     --light: #{$light};
//     --button-text: #{$light};

//     --warning: #{$warning};
//     --danger: #{$danger}; 
//     --dangerDark: #{$dangerDark}; 
//     --success: #{$success};
//     --info: #{$info};

//     --background-image: url("../../../src/assets/background_landmine_sm.webp");
// }

// .landmine {
//     --primary: #{$primary};
//     --primaryDark: #{$primaryDark};
//     --primaryDarker: #{$primaryDarker};
//     --secondary: #{$secondary};
//     --highlight: #{$highlight};

//     --dark: #{$dark};
//     --light: #{$light};
    
//     --button-text: #{$light};
//     --form-text: #{$dark};

//     --background-image: url("../../../src/assets/background_landmine_sm.webp");
// }

// .mass-produced {
//     --primary: #fff5f7;
//     --primaryDark: #e9bfce;
//     --primaryDarker: #c08da1;
//     --secondary: #c998ad;
//     --highlight: #ff7daf;

//     --dark: #b9809b;
//     --light: #a07388;

//     --button-text: #fff5f7;
//     --form-text: #b9809b;

//     --background-image: url("../../../src/assets/background_ryousan_sm.webp");
// }


// .bordeaux {
//     --primary: #753a3a;
//     --primaryDark: #421d1d;
//     --primaryDarker:#c08a79;
//     --secondary: #ebcfb8;
//     --highlight: #940303;

//     --dark: #ebc8ac;
//     --light: #faf3ed;

//     --button-text: #160b0b;
//     --form-text: #421d1d;

//     --background-image: url("../../../src/assets/background_bordeaux_sm.webp");
// }

// .tenshi {
//     --primary: #eafeff;
//     --primaryDark: #b9e5e7;
//     --primaryDarker: #8ab9ca;
//     --secondary: #87cace;
//     --highlight: #7ddaff;

//     --dark: #539294;
//     --light: #6a88a0;

//     --button-text: #eafeff;
//     ---form-text: #539294;

//     --background-image: url("../../../src/assets/background_tenshi_sm.webp");
// }
