// colors
$primary: #2a2336;
$primaryDark: #1f1a29;
$secondary: #796E8B;
$highlight: #be6789;

$dark: #1f1f22;
$light: #fbf7ff;

$warning: #f7c57a;
$danger: #a7445a; 
$dangerDark: #923449; 
$success: #38a377;
$info: #93b8ce;

// colors
$text-sm: 0.8em;
$text-md: 1em;
$text-lg: 1.5em;
$text-xl: 2em;
$text-xxl: 2.5em;

// fonts 
$bodoniModa: "Bodoni Moda", serif;
$bodyText: "Ysabeau Infant", sans-serif;
$zenKakuGothic: "Zen Kaku Gothic New", sans-serif;
