@use "../abstracts/variables" as *; 


// * CONTACT



// * ABOUT

.aboutText, .contactText {
    max-width: 50%;
    @media (max-width: 1599px) {
         max-width:70%;
        }
    @media (max-width: 768px) {
        max-width:100%;
    }

    p {
        font-size:1rem;
        margin-bottom:10px;
    }

    h5 {
        margin-bottom:10px;
    }

    a {
        text-decoration:none;
        font-weight:bold;
        color: $secondary;
    }
}

.cnButtonWrapper {
    display:flex;
    flex-direction:row;
    gap:10px;
    margin-bottom:20px;

    .buttonWrapper {
        gap:10px;
    }

    @media (max-width: 768px) {
        div, a {
            width:100%;
        }
    }
}

.contactBtn {
    width:fit-content;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size: 1.2rem;
    font-weight:normal;
}

.vgenIcon, .emailIcon {
    width: 25px;
    margin-right:5px;
    color: $light;
    
}

.slideToggleBtn {
    &:hover { 
        cursor:pointer;
    }
}

.emailPara {
        p {
        font-size:1rem;
        margin-bottom:10px;
    }
}
.requestForm {
    margin-bottom:10px;
    margin-left:15px;
    p {
        margin-bottom:0;
        
        &:hover {
            cursor:text !important;
        }
    }

}

.vGenIconContainer {
    display:flex;
    justify-content:center;
}




.yippee:hover {
    cursor:text;
}


.fuckingHelpMe {
    display:flex;
    flex-direction:row;
    @media (max-width: 768px) {
        flex-direction:column;
        gap:10px;
}
}