@use "../abstracts/variables" as *; 


// * CONTACT



// * ABOUT

.aboutText, .contactText {
    max-width: 50%;

    p {
        font-size:1rem;
        margin-bottom:10px;
    }

    a {
        text-decoration:none;
        font-weight:bold;
        color: $secondary;
    }
}