@use "../abstracts/variables" as *; 

.serviceSection {
    display:flex;
    flex-direction:row;
    gap:20px;
    margin-bottom:20px;
}

.serviceGallery {
    max-width:50%;
 
}

.servicePrices {
    display:flex;
    flex-direction:column;
    justify-content: center;
    max-width:50%;
    border-left: 5px solid $secondary;
    padding: 0 10px;
    p {
        font-size:1.5rem;
    }
}


.misc p {
    margin-bottom:10px
}