@use "../abstracts/variables" as *; 

.serviceWrapperMobile {
    @media (max-width:768px) {
        margin:auto;
        text-align:center;
    }
}

.serviceSection {
    display:flex;
    flex-direction:row;
    gap:20px;
    margin-bottom:20px;
    @media (max-width: 768px) {
        flex-direction:column;
        }
    
}

.serviceGallery {
    max-width:50%;
        @media (max-width: 768px) {
        max-width:100%;
        margin:auto;
        }
 
}

.servicePrices {
    display:flex;
    flex-direction:column;
    justify-content: center;
    max-width:50%;
    border-left: 5px solid $secondary;
    padding: 0 10px;
    p {
        font-size:1.5rem;
    }
        @media (max-width: 768px) {
         max-width:100%;
         border-left:0;
         border-bottom: 5px solid $secondary;
         padding-bottom:10px;
         margin-bottom:20px;
             p {
            font-size:1rem;
            }
        }
}


.misc p {
    margin-bottom:10px
}

.button h3 {
    &:hover {
        cursor:pointer;
    }
}

// * TOS / CONTACT MODAL 

.tosContact {
    p {
        margin-bottom: 10px;
    }
    ul {
    list-style-position:inside;
    }
    a {
        color: $secondary;
        font-weight: bold;
        text-decoration: none;
    }
    .tosList {
        margin-bottom:10px;
    }
        .skillsetWrapper {
            display:flex;
            flex-direction:row;
            .tosCan, .tosCant {
                width:50%;
            }
                @media (max-width: 768px) {
                    flex-direction:column;
                    gap:10px;
                h5 {
                    font-size:1.2rem;
                }                
                .tosCan, .tosCant {
                    width:100%;
                }
                }
 
       }
}

.tosButton {
    margin-bottom:20px;
}