@use "../abstracts/variables" as *; 

.home-container { 
    display:flex;
    width:100vw;
    height:100vh;
    justify-content:flex-start;
    
}

.sidebar {
    background-color: $primaryDark;
    width:19%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}

.home-content {
    padding:2rem;
    overflow:auto;
    width:100%;
}