@use "../abstracts/variables" as *; 


.video-section {
    display:flex;
    margin-bottom: 20px;
    gap:20px;
        @media (max-width: 768px) {
        flex-direction:column;
        gap:0;
        margin-bottom:40px;
        }
}

.video-thumbnail {
    width:40%;
        @media (max-width: 768px) {
        width:100%;
        }
}

.video-description {
    display:flex;
    flex-direction:column;
    justify-content: center;
    max-width:50%;
    border-left: 5px solid $secondary;
    padding: 0 10px;
    p {
        font-size:1.5rem;
    }
    .video-link {
        text-decoration:none;
        font-weight:bold;
        color: $secondary;
    }
    @media (max-width: 768px) {
        border-left:0;
        border-bottom: 5px solid $secondary;
        max-width:100%;
        padding:10px 0;
        h2 {
            font-size:1.5rem;
        }
        p {
            font-size:1rem;
        }
        }

}    

    .video-date {
        color: $secondary;
        font-size: 1.2rem;
        padding:5px 0;
        &:hover{
            cursor:default;
        }
    }

    .iframe-container {
        display:flex;
        flex-direction:column;
        width:100%;
        height:100%;
        
    }

    .gdrive-video {
        width:100%;
        height:auto;
        aspect-ratio:16/9;
        border:0;
    }