@use "../abstracts/variables" as *; 

.button {
    background-color: $secondary;
    display: inline-block;
    padding:20px;
    border-radius:1rem;
    transition: 300ms ease;
    text-decoration:none;

    * {
        text-decoration:none;
    }

    &:hover {
        transform: scale(1.05);
        transition: 300ms ease;
        cursor:pointer;
    }

}

.modal-btn {
    font-size: 1.2rem;
    margin-right: 10px;
    margin-top: 10px;
          @media (max-width: 768px) {
        width:95%;
        margin: auto;
        text-align:center;
      }
}

.art-btn {
    background-color: $primary;
    outline: 2px solid $secondary;
}

.disclaimer {
    font-size: 1.2rem;
    p {
        margin: 10px 0;
    }
}

.buttonWrapper {
    display:flex;
    flex-direction:row;
}

@media (max-width: 768px) {
        
.buttonWrapper {
    display:flex;
    flex-direction:column;
    gap:10px;
    justify-content:center;
    align-items:center;
    button {
        width: 95%
    }
}
      }