// * VOCAL SYNTH GALLERY

.fuckmychunguslife {
    &:hover {
    cursor:default;
    }
    @media (max-width: 768px) {
        font-size:1.5rem;
        margin-top:10px;
    }
}

.vsynthGallery {
    gap:20px;
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    margin-bottom:10px;
        @media (max-width: 768px) {
        gap:5px;
    }
}

.vsynthWrapper {
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
    .vsynthCaption {
        padding-top:3px;
        font-size: 0.8rem;
        text-align:center;
        @media (max-width:768px) {
            display:none;
        }
    }
}

    // image container
    div.img-wrapper  {
    border-radius:1rem;
    position:relative;
    overflow: hidden;
    height:fit-content;
    width:fit-content;
    height:120px;
    @media (max-width: 768px) {
        height:80px;
    }
}



// 
img.vsynthImage {
    border-radius:1rem;
    width: auto;
    height: 120px; // needed to maintain flex
    overflow:hidden; 
    transition: 300ms ease;
    
    &:hover {
        transform:scale(105%);
        transition: 300ms ease;
    }
        @media (max-width: 768px) {
        height:80px;
    }
}

