@use "../abstracts/variables" as *; 

.title {
    font-family: $bodyText;
    font-weight: light;
    color: $light;
    text-align:left;
    font-size: 2.75rem;
    @media (max-width: 1279px) {
        font-size:2rem;
    }
    @media (max-width: 768px) {
        font-size:1.5rem;
        margin:auto;
        text-align:center;
    }
}

.title-container {
    width:85%;
    margin: 1.5rem 0;

    a {
        text-decoration:none;
    }

    @media (max-width: 768px) {
        margin: 0;
        margin-top:20px;
    }
}

nav.menu {
float: none;
clear: both;
width: 85%;
    @media (max-width: 768px) {
        width:100%;
        max-height:fit-content;
    }
}

nav.menu ul {
list-style: none;
margin: 0px;
padding: 0px;
}

nav.menu li{
float: none;
width: 100%;
    @media (max-width: 768px) {
        width:auto;
        display:inline-block;
        text-align:center;
        margin:auto;
    }
}

nav.menu li a{
display: block;
width: 100%;
padding: 12px 20px;
border-left: 5px solid;
position: relative;
z-index: 2;
text-decoration: none;
color:$light;
font-size: 2.25rem;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
font-family: $bodoniModa;
font-weight: 400;
text-rendering: optimizeLegibility;
font-optical-sizing:none; // keeps appearance the same as carrd font
    @media (max-width: 1279px) {
        font-size:1.5rem;
    }
      @media (max-width: 768px) {
         font-size: 1rem;
         padding:10px;
         border:0px solid;
        }
}

// this is such a mess im so sorry 
.menu {
    @media (max-width: 768px) {
         text-align:center;
         margin:0 auto;
    }
}

nav.menu li a:hover{ border-bottom: 0px; color: $light;}
nav.menu li:first-child a{ border-left: 5px solid $secondary; }
nav.menu li:nth-child(2) a{ border-left: 5px solid $secondary; }
nav.menu li:nth-child(3) a{ border-left: 5px solid $secondary; }
nav.menu li:nth-child(4) a{ border-left: 5px solid $secondary; }
nav.menu li:last-child a{ border-left: 5px solid $secondary; }

      @media (max-width: 768px) {
nav.menu li a:hover{ border-bottom: 0px; color: $light;}
nav.menu li:first-child a{ border-left: 0; border-bottom: 5px solid $secondary; }
nav.menu li:nth-child(2) a{ border-left: 0; border-bottom: 5px solid $secondary; }
nav.menu li:nth-child(3) a{ border-left: 0; border-bottom: 5px solid $secondary; }
nav.menu li:nth-child(4) a{ border-left: 0;  border-bottom: 5px solid $secondary;}
nav.menu li:last-child a{ border-left: 0; border-bottom: 5px solid $secondary; }
        }

nav.menu li a:after {
content: "";
height: 100%;
left: 0;
top: 0;
width: 0px;
position: absolute;
transition: all 0.3s ease 0s;
-webkit-transition: all 0.3s ease 0s;
z-index: -1;
}

/* remove :after to keep background highlighted */
nav.menu li a:hover:after{ width: 100%; }
nav.menu li:first-child a:after{ background: $secondary; }
nav.menu li:nth-child(2) a:after{ background: $secondary; }
nav.menu li:nth-child(3) a:after{ background: $secondary; }
nav.menu li:nth-child(4) a:after{ background: $secondary; }
nav.menu li:last-child a:after{ background: $secondary; }
