@use "../abstracts/variables" as *; 

.customOverlay {
  backdrop-filter: blur(25px);
  background-color: #2a233693;
}
.customModal {
  padding:2rem;
  background: $primary;
  width: 100%;
  &:focus {
    outline:none;
  }
  @media (max-width: 768px) {
    padding:1rem;
    width:80%;
    h4 {
      font-size:1.2rem;
    }
    p {
      font-size:1rem;
    }
  }
}

.react-responsive-modal-closeButton, .react-responsive-modal-closeButton svg {
    color: $secondary;
    border-color: $secondary;
    fill: $secondary;
}